.navbar-logo img {
    margin-right: 12px;
    height: 40px;
}

#dashboard-container {
    max-width: 850px;
}

/* @media screen 
  and (min-device-width: 900px) {
    #dashboard-container {
    max-width: 850px;
    }
} */

.value-box .caption {
    white-space: pre-line;
}