.navbar-logo img {
    margin-right: 12px;
    height: 40px;
}

#dashboard-container {
    max-width: 850px;
}

@media screen 
  and (max-device-width: 600px)
  and (orientation: portrait) {
    #dashboard-container {
    width: 350px;
}

}

.value-box .caption {
    white-space: pre-line;
}